
nav ul{
    background-color: #f7eff785;
    list-style: none;
    justify-content: center;
    align-items: center;
    display:flex;
    gap: 200px;
    margin : 0;
    padding: 0;
    height: 50px;
}
nav ul li a {
    color: rgb(14, 1, 1);
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(250, 235, 215, 0.642);
}

.logo{
    margin: 0;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 200px;
    height: auto;
    width: 141px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 15px #00000026 ;
}
.nom {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.presentation{
  font-family: "Martel", serif;
  font-size: 30px;
  text-align: center; 
}
.slogan{
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:80px;
  text-align: center;
}

header{
    background-image:url(./assets/photographe/prestations/mariage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.femme{
    height: 50%;
    width: 50%;
}
.pr{
display: flex;
   
}
.photo{
    border: #57295785;
    border-radius: 45px;
    width: 320px;
    margin-right: 95px;
    margin-top: 80px;
}
.picture{
    display: flex;

}
.picture2{
    display: flex;
}
.list{
 list-style: none;
 display:flex;
 gap: 200px;0px;
}